@font-face {
    font-family: 'Century-Gothic';
    src: url(/assets/fonts/GOTHIC.TTF);

}

* {
    font-family: 'Century-Gothic';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --first-color: #b1a501;
}

body {
    background-image: url(/assets/images/background-index.webp);
    background-size: 100vh;
    background-repeat: no-repeat;
    background-position: 18% 0;
}

footer {
    margin-top: 8%;
    padding: 5% 0;
    background-color: #1f1f1f;
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;

    & i {
        font-size: 3em;
        margin: 10% 0;
    }

    & h3 {
        margin-bottom: 3%;
    }

    & .footer-buttons-socials {
        margin: 3% 0;
        display: flex;
        justify-content: center;
        gap: 10%;

        & button {
            background-color: #ffffff00;
            padding: 3%;
            border-radius: 50%;
            border: #525252 solid 1px;

            & a {
                text-decoration: none;

                & i {
                    font-size: 3em;
                    color: #fff;
                }
            }
        }
        
    }

    & p {
        margin-top: 4%;
    }

    & .parrafo-footer {
        width: 80%;
        
    }
}

@media only screen and (max-width : 900px) {

    header {

        & h2 {
            background-color: #000000;
            text-align: center;
            color: var(--first-color);
            padding: 5% 0;
            border-bottom: var(--first-color) solid 5px;
            
        }
    }

    main {

        & .wsp-icono-fixed {
            position: fixed;
            bottom: 0;
            right: 0;
            margin: 0 5% 5% 0;
            z-index: 100;
            background-color: #31f700;
            padding: 2%;
            border-radius: 50%;

            & img {
                width: 2.6em;
            }
        }
    }
    

    section {

        & .ultranashe {
            padding: .5%;
            background: rgba(0, 0, 0, 0);
            background: linear-gradient(0deg, rgb(0, 0, 0) 10%, rgba(0, 0, 0, 0) 90%);

            & h1 {
                margin: 80% 0 .5em 0;
                padding-left: 5%;
                font-size: 2.3em;
                color: #fff
            }
        }

        & .catalogo-linea-black {

            margin: 12% 0;
            padding: 0 5%;
	        display: flex;
	        align-items: center;
	        justify-content: space-between;
	        border-radius: 0 50px 0 0;

            & h4 {
                font-size: 1.5em;
                color: #000;
            }
    
            & .linea-black {
                height: 2px;
                width: 62%;
                background-color: #000;
            }
        }

        & .container-cards-perfumes {
            
            
            padding: 1em 2%;
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 1em;

            & article {
                width: 100%;
                height: 21em;
                background-color: #fafafa;
                border-bottom: var(--first-color) solid 5px;   
            }
    
            & img {
                width: 100%;
            }
    
            & .container-card-text {
                display: flex;
                flex-direction: column;
                    
                width: 100%;
    
                padding-left: 5%;
    
                & h2 {
                    margin-top: 1em;
                    white-space: wrap;
                    overflow: hidden;
                    font-size: 1.3em;
                    font-weight: 200;
                }
    
                & p {
                    margin-top: 10%;
                    font-size: 1.4em;
                    font-weight: 800;
                    letter-spacing: 2px;
                }
            }
        }
    }

    footer {
        margin-top: 8%;
        padding: 5% 0;
        background-color: #1f1f1f;
        
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: #fff;
        

        & i {
            font-size: 3em;
            margin: 8% 0;
        }

        & h3 {
            margin: 3% 0;
        }

        & h4 {
            margin-top: 5%;
            color: #525252;
            font-size: 1.1em;
        }

        & .footer-buttons-socials {
            margin: 5% 0;
            display: flex;
            justify-content: center;
            gap: 10%;

            & button {
                background-color: #ffffff00;
                padding: 5% 10%;
                border-radius: 50%;
                border: #525252 solid 1px;

                & a {
                    text-decoration: none;

                    & i {
                        font-size: 3em;
                        color: #fff;
                    }
                }
            }
        }

        & .parrafo-footer-border-top {
            padding-top: 3em;
            border-top: #525252 solid 1px;
            text-align: center;
        }
    }
}
